.content {
  height: 80vh;
}
.content .container {
  gap: 20px;
}

.container p {
  text-align: justify;
}

.container .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container .content-image {
  width: 40%;
}
