@font-face {
  font-family: iranSans;
  src: url("../fonts/Iranian\ Sans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranSans;
}

.container {
  width: 60vw;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span,
i {
  font-size: 1.1rem;
  font-weight: 700;
  transition: 0.3s;
}

span:hover,
i:hover {
  color: orange;
  cursor: pointer;
}

button {
  width: 200px;
  border-radius: 40px;
  border: none;
  padding: 10px 20px;
  background-color: darkcyan;
  color: #fff;
  transition: 0.5s;
}

button:hover {
  background-color: cadetblue;
}
